In [6]:
friends = [ "apple", "orange", 5, 345.06, False, "aakash", "rohan"]

print(friends[(2)*(3)])
print(friends[1:4])

rohan
['orange', 5, 345.06]

In [7]:
# LIST METHODS
#l1.sort(): updates the list to [1,2,7,8,15,21]
#l1.reverse(): updates the list to [15,21,2,7,8,1]
#l1.append(8): adds 8 at the end of the list 
#l1.insert(3,8): This will add 8 at 3 index
#l1.pop(2): Will delete element at index 2 and return its value.
#l1.remove(21): Will remove 21 from the list. 

friends = [ "apple", "orange", 5, 345.06, False, "aakash", "rohan"]
print(friends)

friends.append("harry")
print(friends)

['apple', 'orange', 5, 345.06, False, 'aakash', 'rohan']
['apple', 'orange', 5, 345.06, False, 'aakash', 'rohan', 'harry']

In [12]:
#l1.sort(): updates the list to [1,2,7,8,15,21]

 

l1 = [1,8,7,2,21,15]
l1.sort()
print(l1)

[1, 2, 7, 8, 15, 21]

In [13]:
#l1.reverse(): updates the list to [15,21,2,7,8,1]
l1 = [1,8,7,2,21,15]
l1.reverse()
print(l1)

[15, 21, 2, 7, 8, 1]

In [14]:
#l1.append(8): adds 8 at the end of the list 
l1 = [1,8,7,2,21,15]
l1.append(14)
print(l1)

[1, 8, 7, 2, 21, 15, 14]

In [17]:
 #l1.insert(3,8): This will add 8 at 3 index
l1 = [1,8,7,2,21,15]
l1.insert(3,8)
print(l1)

[1, 8, 7, 8, 2, 21, 15]

In [18]:
#l1.pop(2): Will delete element at index 2 and return its value.
l1 = [1,8,7,2,21,15]
l1.pop(2)
print(l1)

[1, 8, 2, 21, 15]

In [19]:
#l1.remove(21): Will remove 21 from the list.
l1 = [1,8,7,2,21,15]
l1.remove(21)
print(l1)

[1, 8, 7, 2, 15]

In [20]:
#TUPLES IN PYTHON
a = (5, 6, 7, 8 )
print(type(a))

<class 'tuple'>

In [22]:
#empty typle
# we havent added ,  so python thaught it is int 

a = (5 )
print(type(a))
#here we added , coma
a = (5, )
print(type(a))

<class 'int'>
<class 'tuple'>

In [23]:
a = (5,3453, 544324, False, "rohan", "shivam" )
print(type(a))

<class 'tuple'>

In [24]:
a = (5,3453, 544324, False, "rohan", "shivam" )
a[0] = 444
print(a)

TypeError: 'tuple' object does not support item assignment

In [25]:
#### tuple's methods

# 01
a = (5,3453, 544324, False, "rohan", "shivam" )
print(a)

no = a.count(5)
print(no)

(5, 3453, 544324, False, 'rohan', 'shivam')
1

In [26]:
# 01
a = (5,3453, 544324, False, "rohan", "shivam" )
print(a)

no = a.index(5)
print(no)

(5, 3453, 544324, False, 'rohan', 'shivam')
0

In [30]:
tuple1 = (2, 4, 5)
tuple2 = (6, 7, 8)
concatenate = tuple1 + tuple2
print(concatenate)

(2, 4, 5, 6, 7, 8)

In [31]:
tuple1 = (2, 4, 5)
repeated = tuple1*3
print(repeated)

(2, 4, 5, 2, 4, 5, 2, 4, 5)

In [33]:
tuple1 = (2, 4, 5)
print(2 in tuple1)
print(6 in  tuple1)

True
False

In [42]:
tuple1 = (2, 4, 5, 6 , 8, 9)
sliced = tuple1[1:4]
print(sliced)

(4, 5, 6)

In [43]:
tuple1 = (2, 4, 5)
a, b, c = tuple1
print(a, b, c)

2 4 5

In [47]:
### practise set for tuple
# Write a program to store five fruits in a list entered by the user

fruits = []
f1 = input("entre fruit name ")
fruits.append(f1)
f2 = input("etner fruit name ")
fruits.append(f2)
f3 = input("etner fruit name ")
fruits.append(f3)
f4 = input("etner fruit name ")
fruits.append(f4)
f5 = input("etner fruit name ")
fruits.append(f5)
print(fruits)

entre fruit name  apple
etner fruit name  banana
etner fruit name  orange
etner fruit name  grapes
etner fruit name  pear

['apple', 'banana', 'orange', 'grapes', 'pear']

In [50]:
# Write a program to accept marks of 6 students and display them in a sorted manner. 
student_marks = []
s1 = int(input("enter marks here"))
student_marks.append(s1)
s2 = int(input("enter marks here"))
student_marks.append(s2)
s3 = int(input("enter marks here"))
student_marks.append(s3)
s4 = int(input("enter marks here"))
student_marks.append(s4)
s5 = int(input("enter marks here"))
student_marks.append(s5)
student_marks.sort()
print(student_marks)

enter marks here 34
enter marks here 465
enter marks here 56
enter marks here 100
enter marks here 69

[34, 56, 69, 100, 465]

In [51]:
#  Check that a tuple type cannot be changed in python.
a = (3, 5, "vaiksy")
a[2] = "raju"

TypeError: 'tuple' object does not support item assignment

In [54]:
#Write a program to sum a list with 4 numbers.
b = (4, 6, 7, 8, 9)
print(sum(b))

34

In [56]:
#Write a program to count the number of zeros in the following tuple:
a = (7, 0, 8, 0, 0, 9)
n = a.count(0)
print(n)

3

In [57]:
###
###  DICTIONSRY & SETS ###

##Dictionary is a collection of keys-value pairs
# PROPERTIES OF PYTHON DICTIONARIES
#1. It is unordered.
#2. It is mutable.
#3. It is indexed.
#4. Cannot contain duplicate keys.

In [59]:
marks = {
    "vaiksy" : 100,
    "raju" : 50,
    "rohan" : 9
}
print(marks, type(marks))

{'vaiksy': 100, 'raju': 50, 'rohan': 9} <class 'dict'>

In [60]:
print(marks["vaiksy"])

100

In [64]:
#a.items(): Returns a list of (key,value)tuples.
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}

print(a.items())

dict_items([('name', 'harry'), ('from', 'india'), ('marks', [92, 98, 96])])

In [66]:
#a.keys(): Returns a list containing dictionary's keys.
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}
print(a.keys())

dict_keys(['name', 'from', 'marks'])

In [70]:
#a.update({"friends":}): Updates the dictionary with supplied key-value pairs
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}
a.update({"friends":"raj"})
print(a)

{'name': 'harry', 'from': 'india', 'marks': [92, 98, 96], 'friends': 'raj'}

In [74]:
#a.get("name"): Returns the value of the specified keys (and value is returned
#eg."harry" is returned here).
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}

print(a.get("name"))

harry

In [77]:
#pop methid
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}
value = a.pop('name', 'harry')
print(a)

{'from': 'india', 'marks': [92, 98, 96]}

In [78]:
##
   ## SETS IN PYTHON  ##

## Set is a collection of non-repetitive elements.

# e = set() dont use {} it will create empty dictonary

In [79]:
s = {1, 4, 6, 6}
print(s)

{1, 4, 6}

In [80]:
s = {1, 4, 6, "vaiksy"}
print(s, type(s))

{1, 4, 'vaiksy', 6} <class 'set'>

In [81]:
s = {1, 4, 6, "vaiksy"}
s.add(69)
print(s, type(s))

{1, 4, 69, 6, 'vaiksy'} <class 'set'>

In [84]:
s = {1, 4, 6, "vaiksy"}
s.update([69, 55])
print(s)

{1, 4, 69, 6, 55, 'vaiksy'}

In [86]:
s = {1, 4, 6, "vaiksy", 69}
s.remove(69)
print(s)

{1, 4, 6, 'vaiksy'}

In [87]:
s = {1, 4, 6, "vaiksy", 69}
s.discard(69)
print(s)

{1, 4, 6, 'vaiksy'}

In [92]:
s = {1, 4, 6, "vaiksy", 69}
x = s.pop()
print(x)

1

In [93]:
s = {1, 4, 6, "vaiksy", 69}
s.clear()
print(s)

set()

In [94]:
##
      # SET OPERATIONS (VERY IMPORTANT)  
                                              ##

In [95]:
a = {1, 2}
b = {2, 3}
print(a.union(b))

{1, 2, 3}

In [96]:
a = {1, 2}
b = {2, 3}
print(a.intersection(b))

{2}

In [98]:
a = {1, 2}
b = {2, 3}
print(a.difference(b))

{1}

In [100]:
a = {1, 2}
b = {2, 3}
print(a.symmetric_difference(b))

{1, 3}

In [101]:
## CHECKING METHODS  ##

In [102]:
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b))

True

In [104]:
a = {1, 2}
b = {3, 4}
print(a.isdisjoint(b))

True

In [105]:
a = {1, 2}
b = {1, 2, 3}
print(a.isdisjoint(b))

False

In [106]:
#### practise sett ##

In [109]:
#Write a program to create a dictionary of Hindi words with values as their English
#translation. Provide user with an option to look it up!

words = {
    "kaala":"black", "safed":"white"
}
word = input("entre the word:")
print(words[word])

entre the word: safed

white

In [119]:
#Write a program to input eight numbers from the user and display all the unique
#numbers (once).
s = set()
n = input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
print(s)

entre number : 8
entre number : 6
entre number : 5
entre number : 6
entre number : 2
entre number : 7
entre number : 3
entre number : 9

{2, 3, 5, 6, 7, 8, 9}

In [123]:
# Can we have a set with 18 (int) and '18' (str) as a value in it?
s = set()
s.add(18)
s.add("18")
print(s)

{18, '18'}

In [126]:
# What will be the length of following set s:
s = set()
s.add(20)
s.add(20.0)
s.add('20') # length of s after these operations?
print(len(s))

2

In [127]:
# What is the type of 's'?
s = {}
print(type(s))

<class 'dict'>

In [132]:
d = {}
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})

print(d)

entre name here:  sdfsdfse
entre lang here efefs
entre name here:  aeffff
entre lang here frwe
entre name here:  ferwew
entre lang here fwewe
entre name here:  frwefw
entre lang here wfrwe

{'sdfsdfse': 'efefs', 'aeffff': 'frwe', 'ferwew': 'fwewe', 'frwefw': 'wfrwe'}

In [134]:
# If the names of 2 friends are same; what will happen to the program in problem 6?

d = {}
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})

print(d)

entre name here:  raju
entre lang here c
entre name here:  raju
entre lang here python
entre name here:  sdfsf
entre lang here sf
entre name here:  srfsfs
entre lang here sfdsgf

{'raju': 'python', 'sdfsf': 'sf', 'srfsfs': 'sfdsgf'}

In [135]:
# If languages of two friends are same; what will happen to the program in problem 6?
d = {}
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})

print(d)

entre name here:  raju
entre lang here python
entre name here:  harry
entre lang here python
entre name here:  dfsdf
entre lang here efrw
entre name here:  fwfad
entre lang here fwree

{'raju': 'python', 'harry': 'python', 'dfsdf': 'efrw', 'fwfad': 'fwree'}

In [136]:
# Can you change the values inside a list which is contained in set S?
s = {8, 7, 12, "Harry", [1,2]}

 #  we  can not perform this task

TypeError: unhashable type: 'list'

In [137]:
####
        # CONDITIONAL EXPRESSION

In [138]:
# # IF ELSE AND ELIF IN PYTHON
# If else and elif statements are a multiway decision taken by our program due to certain
# conditions in our code.

In [142]:
age = 18
if age >= 17:
    print("you are eligible")

you are eligible

In [148]:
a = int(input("enter your age "))
if(a>18):
    print("you are eligible")
else: 
     print("not eligible")

enter your age  19

you are eligible

In [149]:
# 1. Write a program to find the greatest of four numbers entered by the user.

In [152]:
a1 = int(input("entre number 1:"))
a2 = int(input("entre number 2:"))
a3 = int(input("entre number 3:"))
a4 = int(input("entre number 4:"))

if(a1>a2 and a1>a3 and a1>a4):
    print(a1)

elif(a2>a1 and a2>a3 and a2>a4):
    print(a2)
elif(a3>a2 and a3>a2 and a3>a4):
    print(a3)     
elif(a4>a2 and a4>a3 and a4>a1):
    print(a4)

entre number 1: 3
entre number 2: 5
entre number 3: 8
entre number 4: 9

9

In [153]:
# Write a program to find out whether a student has passed or failed if it requires a
# total of 40% and at least 33% in each subject to pass. Assume 3 subjects and
# take marks as an input from the user

In [173]:
s1 = int(input("enter marks of sub :"))
s2 = int(input("enter marks of sub :"))
s3 = int(input("enter marks of sub :"))

total_marks = (s1 + s2 + s3)/300*100

if(total_marks>=40):
  print("pass", total_marks)

else:
    print("fail", total_marks)

enter marks of sub : 55
enter marks of sub : 65
enter marks of sub : 67

pass 62.33333333333333

In [164]:
# A spam comment is defined as a text containing following keywords:
# “Make a lot of money”, “buy now”, “subscribe this”, “click this”. Write a program
# to detect these spams.

In [167]:
c1 = input("enter comment")
if(c1 == "make a lot of money"):
    print("spam")
elif(c1 == "buy now"):
    print("spam")
elif(c1 == "subscribe this"):
    print("spam")
elif(c1 == "click this"):
    print("spam")

else:
    print("Not spam")

enter comment hello

not spam

In [168]:
# Write a program to find whether a given username contains less than 10
# characters or not.

In [175]:
username = input(("enter user name"))
# total_length = (len.username)

if(len(username)<10):
    print("less then 10 chr")

else:
    print("contain 10 chr")

enter user name vaiksymajokastudio

contain 10 chr

In [176]:
# Write a program which finds out whether a given name is present in a list or not.

In [181]:
d = ["vaiksy", "raju", "harry"]
name = input("entre name here")

if(name in d):
    print("name found")

else:
    print("name not found")

entre name here vaiksy

name found

In [190]:
marks = int(input())
if((marks)>90):
    print("EX")
    
elif(marks>80 and (marks)<90):
    print("A")
elif(marks>70 and (marks)<80):
    print("B")
elif((marks)>60 and (marks)<70):
    print("C")
elif((marks)>50 and (marks)<60):
    print("D")
elif(marks<50):
    print("F")

 98

EX

In [188]:
# Write a program to find out whether a given post is talking about “Harry” or not.

In [193]:
post = " harry sahi padhata hai bhaaai"

if("harry" in post):
    print("post is talking about harry")
else:
    print("post is not talking about harry")

post is talking about harry

In [194]:
##  
          # LOOPS IN PYTHON

In [197]:
# For loop
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [1]:
# while loop 
i = 1

while(i<6):
    print(i)
    i +=1  # i = i+1  its a same thing

1
2
3
4
5

In [14]:
l = [1, "harry", False, "raju", "vaiksy"]

i = 0

while(i<len(l)):
    print(l[i])
    i +=1

1
harry
False
raju
vaiksy

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(0, 51, 5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50

In [6]:
# l = [1, 2, 4, 56, 674, ]
# for i in l:
#     print(i)

t = (4, 5,34, 364)
for i in t:
    print(i)

4
5
34
364

In [7]:
s = "vaiksy"
for i in s:
    print(i)

v
a
i
k
s
y

In [8]:
l = [2, 4, 6]

for item in l:
    print(item)
else: print("done")

2
4
6
done

In [9]:
for i in range(10):
    if(i == 7):
        break  # exit the loop right now 
    print(i)

0
1
2
3
4
5
6

In [10]:
for i in range(10):
    if(i == 7):
        continue  # skip this iteration
    print(i)

0
1
2
3
4
5
6
8
9

In [11]:
## pass statement
for i in range(65):
    pass
i = 0
while(i<10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [16]:
# Write a program to print multiplication table of a given number using for loop
n = int(input("enter number here"))

for i in range(1, 11):
    print(f"{n} X {i} = {n*i}")

enter number here 12

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [17]:
# Write a program to greet all the person names stored in a list ‘l’ and which starts
# with S.

In [20]:
l = ["Harry", "Soham", "Sachin", "Rahul"]

for name in l:
    if(name.startswith("S")):
        print(f"hello {name}")

hello Soham
hello Sachin

In [21]:
#  Attempt problem 1 using while loop.

In [1]:
n = int(input("enter number here"))

i = 1
while(i<11):
    print(f"{n} X {i} = {n*i}")
    i += 1

enter number here 4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [2]:
# Write a program to find whether a given number is prime or not.

In [14]:
n = int(input("enter number here: "))

for i in range(2, n):
    if(n%i) == 0:
        print("number is not prime number")
        break
else:
    print("this is a prime number")

enter number here:  34445

number is not prime number

In [15]:
# Write a program to find the sum of first n natural numbers using while loop.

In [1]:
n = int(input("enter number here"))
i = 1
sum = 0
while(i<=n):
    sum += i
    i+=1
    print(sum)

enter number here 2

1
3