In [6]:
friends = [ "apple", "orange", 5, 345.06, False, "aakash", "rohan"]

print(friends[(2)*(3)])
print(friends[1:4])

rohan
['orange', 5, 345.06]

In [7]:
# LIST METHODS
#l1.sort(): updates the list to [1,2,7,8,15,21]
#l1.reverse(): updates the list to [15,21,2,7,8,1]
#l1.append(8): adds 8 at the end of the list 
#l1.insert(3,8): This will add 8 at 3 index
#l1.pop(2): Will delete element at index 2 and return its value.
#l1.remove(21): Will remove 21 from the list. 

friends = [ "apple", "orange", 5, 345.06, False, "aakash", "rohan"]
print(friends)

friends.append("harry")
print(friends)

['apple', 'orange', 5, 345.06, False, 'aakash', 'rohan']
['apple', 'orange', 5, 345.06, False, 'aakash', 'rohan', 'harry']

In [12]:
#l1.sort(): updates the list to [1,2,7,8,15,21]

 

l1 = [1,8,7,2,21,15]
l1.sort()
print(l1)

[1, 2, 7, 8, 15, 21]

In [13]:
#l1.reverse(): updates the list to [15,21,2,7,8,1]
l1 = [1,8,7,2,21,15]
l1.reverse()
print(l1)

[15, 21, 2, 7, 8, 1]

In [14]:
#l1.append(8): adds 8 at the end of the list 
l1 = [1,8,7,2,21,15]
l1.append(14)
print(l1)

[1, 8, 7, 2, 21, 15, 14]

In [17]:
 #l1.insert(3,8): This will add 8 at 3 index
l1 = [1,8,7,2,21,15]
l1.insert(3,8)
print(l1)

[1, 8, 7, 8, 2, 21, 15]

In [18]:
#l1.pop(2): Will delete element at index 2 and return its value.
l1 = [1,8,7,2,21,15]
l1.pop(2)
print(l1)

[1, 8, 2, 21, 15]

In [19]:
#l1.remove(21): Will remove 21 from the list.
l1 = [1,8,7,2,21,15]
l1.remove(21)
print(l1)

[1, 8, 7, 2, 15]

In [20]:
#TUPLES IN PYTHON
a = (5, 6, 7, 8 )
print(type(a))

<class 'tuple'>

In [22]:
#empty typle
# we havent added ,  so python thaught it is int 

a = (5 )
print(type(a))
#here we added , coma
a = (5, )
print(type(a))

<class 'int'>
<class 'tuple'>

In [23]:
a = (5,3453, 544324, False, "rohan", "shivam" )
print(type(a))

<class 'tuple'>

In [24]:
a = (5,3453, 544324, False, "rohan", "shivam" )
a[0] = 444
print(a)

TypeError: 'tuple' object does not support item assignment

In [25]:
#### tuple's methods

# 01
a = (5,3453, 544324, False, "rohan", "shivam" )
print(a)

no = a.count(5)
print(no)

(5, 3453, 544324, False, 'rohan', 'shivam')
1

In [26]:
# 01
a = (5,3453, 544324, False, "rohan", "shivam" )
print(a)

no = a.index(5)
print(no)

(5, 3453, 544324, False, 'rohan', 'shivam')
0

In [30]:
tuple1 = (2, 4, 5)
tuple2 = (6, 7, 8)
concatenate = tuple1 + tuple2
print(concatenate)

(2, 4, 5, 6, 7, 8)

In [31]:
tuple1 = (2, 4, 5)
repeated = tuple1*3
print(repeated)

(2, 4, 5, 2, 4, 5, 2, 4, 5)

In [33]:
tuple1 = (2, 4, 5)
print(2 in tuple1)
print(6 in  tuple1)

True
False

In [42]:
tuple1 = (2, 4, 5, 6 , 8, 9)
sliced = tuple1[1:4]
print(sliced)

(4, 5, 6)

In [43]:
tuple1 = (2, 4, 5)
a, b, c = tuple1
print(a, b, c)

2 4 5

In [47]:
### practise set for tuple
# Write a program to store five fruits in a list entered by the user

fruits = []
f1 = input("entre fruit name ")
fruits.append(f1)
f2 = input("etner fruit name ")
fruits.append(f2)
f3 = input("etner fruit name ")
fruits.append(f3)
f4 = input("etner fruit name ")
fruits.append(f4)
f5 = input("etner fruit name ")
fruits.append(f5)
print(fruits)

entre fruit name  apple
etner fruit name  banana
etner fruit name  orange
etner fruit name  grapes
etner fruit name  pear

['apple', 'banana', 'orange', 'grapes', 'pear']

In [50]:
# Write a program to accept marks of 6 students and display them in a sorted manner. 
student_marks = []
s1 = int(input("enter marks here"))
student_marks.append(s1)
s2 = int(input("enter marks here"))
student_marks.append(s2)
s3 = int(input("enter marks here"))
student_marks.append(s3)
s4 = int(input("enter marks here"))
student_marks.append(s4)
s5 = int(input("enter marks here"))
student_marks.append(s5)
student_marks.sort()
print(student_marks)

enter marks here 34
enter marks here 465
enter marks here 56
enter marks here 100
enter marks here 69

[34, 56, 69, 100, 465]

In [51]:
#  Check that a tuple type cannot be changed in python.
a = (3, 5, "vaiksy")
a[2] = "raju"

TypeError: 'tuple' object does not support item assignment

In [54]:
#Write a program to sum a list with 4 numbers.
b = (4, 6, 7, 8, 9)
print(sum(b))

34

In [56]:
#Write a program to count the number of zeros in the following tuple:
a = (7, 0, 8, 0, 0, 9)
n = a.count(0)
print(n)

3

In [57]:
###
###  DICTIONSRY & SETS ###

##Dictionary is a collection of keys-value pairs
# PROPERTIES OF PYTHON DICTIONARIES
#1. It is unordered.
#2. It is mutable.
#3. It is indexed.
#4. Cannot contain duplicate keys.

In [59]:
marks = {
    "vaiksy" : 100,
    "raju" : 50,
    "rohan" : 9
}
print(marks, type(marks))

{'vaiksy': 100, 'raju': 50, 'rohan': 9} <class 'dict'>

In [60]:
print(marks["vaiksy"])

100

In [64]:
#a.items(): Returns a list of (key,value)tuples.
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}

print(a.items())

dict_items([('name', 'harry'), ('from', 'india'), ('marks', [92, 98, 96])])

In [66]:
#a.keys(): Returns a list containing dictionary's keys.
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}
print(a.keys())

dict_keys(['name', 'from', 'marks'])

In [70]:
#a.update({"friends":}): Updates the dictionary with supplied key-value pairs
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}
a.update({"friends":"raj"})
print(a)

{'name': 'harry', 'from': 'india', 'marks': [92, 98, 96], 'friends': 'raj'}

In [74]:
#a.get("name"): Returns the value of the specified keys (and value is returned
#eg."harry" is returned here).
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}

print(a.get("name"))

harry

In [77]:
#pop methid
a={"name":"harry",
"from":"india",
"marks":[92,98,96]}
value = a.pop('name', 'harry')
print(a)

{'from': 'india', 'marks': [92, 98, 96]}

In [78]:
##
   ## SETS IN PYTHON  ##

## Set is a collection of non-repetitive elements.

# e = set() dont use {} it will create empty dictonary

In [79]:
s = {1, 4, 6, 6}
print(s)

{1, 4, 6}

In [80]:
s = {1, 4, 6, "vaiksy"}
print(s, type(s))

{1, 4, 'vaiksy', 6} <class 'set'>

In [81]:
s = {1, 4, 6, "vaiksy"}
s.add(69)
print(s, type(s))

{1, 4, 69, 6, 'vaiksy'} <class 'set'>

In [84]:
s = {1, 4, 6, "vaiksy"}
s.update([69, 55])
print(s)

{1, 4, 69, 6, 55, 'vaiksy'}

In [86]:
s = {1, 4, 6, "vaiksy", 69}
s.remove(69)
print(s)

{1, 4, 6, 'vaiksy'}

In [87]:
s = {1, 4, 6, "vaiksy", 69}
s.discard(69)
print(s)

{1, 4, 6, 'vaiksy'}

In [92]:
s = {1, 4, 6, "vaiksy", 69}
x = s.pop()
print(x)

1

In [93]:
s = {1, 4, 6, "vaiksy", 69}
s.clear()
print(s)

set()

In [94]:
##
      # SET OPERATIONS (VERY IMPORTANT)  
                                              ##

In [95]:
a = {1, 2}
b = {2, 3}
print(a.union(b))

{1, 2, 3}

In [96]:
a = {1, 2}
b = {2, 3}
print(a.intersection(b))

{2}

In [98]:
a = {1, 2}
b = {2, 3}
print(a.difference(b))

{1}

In [100]:
a = {1, 2}
b = {2, 3}
print(a.symmetric_difference(b))

{1, 3}

In [101]:
## CHECKING METHODS  ##

In [102]:
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b))

True

In [104]:
a = {1, 2}
b = {3, 4}
print(a.isdisjoint(b))

True

In [105]:
a = {1, 2}
b = {1, 2, 3}
print(a.isdisjoint(b))

False

In [106]:
#### practise sett ##

In [109]:
#Write a program to create a dictionary of Hindi words with values as their English
#translation. Provide user with an option to look it up!

words = {
    "kaala":"black", "safed":"white"
}
word = input("entre the word:")
print(words[word])

entre the word: safed

white

In [119]:
#Write a program to input eight numbers from the user and display all the unique
#numbers (once).
s = set()
n = input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
n =  input("entre number :")
s.add(int(n))
print(s)

entre number : 8
entre number : 6
entre number : 5
entre number : 6
entre number : 2
entre number : 7
entre number : 3
entre number : 9

{2, 3, 5, 6, 7, 8, 9}

In [123]:
# Can we have a set with 18 (int) and '18' (str) as a value in it?
s = set()
s.add(18)
s.add("18")
print(s)

{18, '18'}

In [126]:
# What will be the length of following set s:
s = set()
s.add(20)
s.add(20.0)
s.add('20') # length of s after these operations?
print(len(s))

2

In [127]:
# What is the type of 's'?
s = {}
print(type(s))

<class 'dict'>

In [132]:
d = {}
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})

print(d)

entre name here:  sdfsdfse
entre lang here efefs
entre name here:  aeffff
entre lang here frwe
entre name here:  ferwew
entre lang here fwewe
entre name here:  frwefw
entre lang here wfrwe

{'sdfsdfse': 'efefs', 'aeffff': 'frwe', 'ferwew': 'fwewe', 'frwefw': 'wfrwe'}

In [134]:
# If the names of 2 friends are same; what will happen to the program in problem 6?

d = {}
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})

print(d)

entre name here:  raju
entre lang here c
entre name here:  raju
entre lang here python
entre name here:  sdfsf
entre lang here sf
entre name here:  srfsfs
entre lang here sfdsgf

{'raju': 'python', 'sdfsf': 'sf', 'srfsfs': 'sfdsgf'}

In [135]:
# If languages of two friends are same; what will happen to the program in problem 6?
d = {}
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})
name = input("entre name here: ")
lang = input("entre lang here")
d.update({name:lang})

print(d)

entre name here:  raju
entre lang here python
entre name here:  harry
entre lang here python
entre name here:  dfsdf
entre lang here efrw
entre name here:  fwfad
entre lang here fwree

{'raju': 'python', 'harry': 'python', 'dfsdf': 'efrw', 'fwfad': 'fwree'}

In [136]:
# Can you change the values inside a list which is contained in set S?
s = {8, 7, 12, "Harry", [1,2]}

 #  we  can not perform this task

TypeError: unhashable type: 'list'

In [137]:
####
        # CONDITIONAL EXPRESSION

In [138]:
# # IF ELSE AND ELIF IN PYTHON
# If else and elif statements are a multiway decision taken by our program due to certain
# conditions in our code.

In [142]:
age = 18
if age >= 17:
    print("you are eligible")

you are eligible

In [148]:
a = int(input("enter your age "))
if(a>18):
    print("you are eligible")
else: 
     print("not eligible")

enter your age  19

you are eligible

In [149]:
# 1. Write a program to find the greatest of four numbers entered by the user.

In [152]:
a1 = int(input("entre number 1:"))
a2 = int(input("entre number 2:"))
a3 = int(input("entre number 3:"))
a4 = int(input("entre number 4:"))

if(a1>a2 and a1>a3 and a1>a4):
    print(a1)

elif(a2>a1 and a2>a3 and a2>a4):
    print(a2)
elif(a3>a2 and a3>a2 and a3>a4):
    print(a3)     
elif(a4>a2 and a4>a3 and a4>a1):
    print(a4)

entre number 1: 3
entre number 2: 5
entre number 3: 8
entre number 4: 9

9

In [153]:
# Write a program to find out whether a student has passed or failed if it requires a
# total of 40% and at least 33% in each subject to pass. Assume 3 subjects and
# take marks as an input from the user

In [173]:
s1 = int(input("enter marks of sub :"))
s2 = int(input("enter marks of sub :"))
s3 = int(input("enter marks of sub :"))

total_marks = (s1 + s2 + s3)/300*100

if(total_marks>=40):
  print("pass", total_marks)

else:
    print("fail", total_marks)

enter marks of sub : 55
enter marks of sub : 65
enter marks of sub : 67

pass 62.33333333333333

In [164]:
# A spam comment is defined as a text containing following keywords:
# “Make a lot of money”, “buy now”, “subscribe this”, “click this”. Write a program
# to detect these spams.

In [167]:
c1 = input("enter comment")
if(c1 == "make a lot of money"):
    print("spam")
elif(c1 == "buy now"):
    print("spam")
elif(c1 == "subscribe this"):
    print("spam")
elif(c1 == "click this"):
    print("spam")

else:
    print("Not spam")

enter comment hello

not spam

In [168]:
# Write a program to find whether a given username contains less than 10
# characters or not.

In [175]:
username = input(("enter user name"))
# total_length = (len.username)

if(len(username)<10):
    print("less then 10 chr")

else:
    print("contain 10 chr")

enter user name vaiksymajokastudio

contain 10 chr

In [176]:
# Write a program which finds out whether a given name is present in a list or not.

In [181]:
d = ["vaiksy", "raju", "harry"]
name = input("entre name here")

if(name in d):
    print("name found")

else:
    print("name not found")

entre name here vaiksy

name found

In [190]:
marks = int(input())
if((marks)>90):
    print("EX")
    
elif(marks>80 and (marks)<90):
    print("A")
elif(marks>70 and (marks)<80):
    print("B")
elif((marks)>60 and (marks)<70):
    print("C")
elif((marks)>50 and (marks)<60):
    print("D")
elif(marks<50):
    print("F")

 98

EX

In [188]:
# Write a program to find out whether a given post is talking about “Harry” or not.

In [193]:
post = " harry sahi padhata hai bhaaai"

if("harry" in post):
    print("post is talking about harry")
else:
    print("post is not talking about harry")

post is talking about harry

In [194]:
##  
          # LOOPS IN PYTHON

In [197]:
# For loop
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [1]:
# while loop 
i = 1

while(i<6):
    print(i)
    i +=1  # i = i+1  its a same thing

1
2
3
4
5

In [14]:
l = [1, "harry", False, "raju", "vaiksy"]

i = 0

while(i<len(l)):
    print(l[i])
    i +=1

1
harry
False
raju
vaiksy

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(0, 51, 5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50

In [6]:
# l = [1, 2, 4, 56, 674, ]
# for i in l:
#     print(i)

t = (4, 5,34, 364)
for i in t:
    print(i)

4
5
34
364

In [7]:
s = "vaiksy"
for i in s:
    print(i)

v
a
i
k
s
y

In [8]:
l = [2, 4, 6]

for item in l:
    print(item)
else: print("done")

2
4
6
done

In [9]:
for i in range(10):
    if(i == 7):
        break  # exit the loop right now 
    print(i)

0
1
2
3
4
5
6

In [10]:
for i in range(10):
    if(i == 7):
        continue  # skip this iteration
    print(i)

0
1
2
3
4
5
6
8
9

In [11]:
## pass statement
for i in range(65):
    pass
i = 0
while(i<10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [16]:
# Write a program to print multiplication table of a given number using for loop
n = int(input("enter number here"))

for i in range(1, 11):
    print(f"{n} X {i} = {n*i}")

enter number here 12

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [17]:
# Write a program to greet all the person names stored in a list ‘l’ and which starts
# with S.

In [20]:
l = ["Harry", "Soham", "Sachin", "Rahul"]

for name in l:
    if(name.startswith("S")):
        print(f"hello {name}")

hello Soham
hello Sachin

In [21]:
#  Attempt problem 1 using while loop.

In [1]:
n = int(input("enter number here"))

i = 1
while(i<11):
    print(f"{n} X {i} = {n*i}")
    i += 1

enter number here 4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [2]:
# Write a program to find whether a given number is prime or not.

In [14]:
n = int(input("enter number here: "))

for i in range(2, n):
    if(n%i) == 0:
        print("number is not prime number")
        break
else:
    print("this is a prime number")

enter number here:  34445

number is not prime number

In [15]:
# Write a program to find the sum of first n natural numbers using while loop.

In [1]:
n = int(input("enter number here"))
i = 1
sum = 0
while(i<=n):
    sum += i
    i+=1
    print(sum)

enter number here 2

1
3

In [2]:
# Write a program to calculate the factorial of a given number using for loop.

In [5]:
n = int(input("enter number : "))

factorial = 1

for i in range(1, n + 1):
    factorial *=i

    
print("factorial is :", factorial)

enter number :  9

factorial is : 362880

In [6]:
# te a program to print the following star pattern.
#  *
# ***
# ***** for n = 3

In [21]:
n = int(input("entre number here"))

for i in range(1, n+1):
    print(" " * (n - 1) + "*" * (2 * i-1))

entre number here 3

  *
  ***
  *****

In [22]:
# 8. Write a program to print the following star pattern:
# *
# **
# *** for n = 3

In [23]:
n = int(input("entre number here"))

for i in range(1, n+1):
    print("*" *i)

entre number here 3

*
**
***

In [24]:
# 9. Write a program to print the following star pattern.
# * * *
# * * for n = 3
# * * *

In [28]:
n = int(input("entre number here"))

for i in range(n):
    if i == 0 or i == n-1:
        print("*" *n)

    else:
        print("*" + " " * ( n - 2) + "*")

entre number here 3

***
* *
***

In [29]:
# 10. Write a program to print multiplication table of n using for loops in reversed
# order.

In [40]:
n = int(input("enter number here"))

for i in range(10, 0, -1):
    print(f"{n} X {i} = {n*i}")

enter number here 2

2 X 10 = 20
2 X 9 = 18
2 X 8 = 16
2 X 7 = 14
2 X 6 = 12
2 X 5 = 10
2 X 4 = 8
2 X 3 = 6
2 X 2 = 4
2 X 1 = 2

In [41]:
###  
           # FUNCTIONS & RECURSIONS

In [45]:
# eg
def avg():
    a = int(input("enter number here"))
    b = int(input("enter number here"))
    c = int(input("enter number here"))

    average = (a + b + c)/3
    print(average)

avg()

enter number here 3
enter number here 4
enter number here 5

4.0

In [51]:
# eg

def greet(name):
    gr = "hello " + name
    print(gr)

a = greet(input(""))

 vaiksy

hello vaiksy

In [59]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter number: "))
print("Factorial is:", factorial(num))

Enter number:  4

Factorial is: 24

In [64]:
# 1. Write a program using functions to find greatest of three numbers.
a = int(input())
b = int(input())
c = int(input())

if(a>b and a>c):
    print("this is the largest number :", {a})

elif(b>a and b>c):
    print("this is the largest number :", {b})

else:
    print("this is the largest number :", {c})

 4
 5
 99

this is the largest number : {99}

In [71]:
# 2. Write a python program using function to convert Celsius to Fahrenheit.
n = int(input("enter number in celsius"))
def converstion(c):
    if c == 0:
          return 32
    else:
        return (n*(9/5) + 32)
        
print(converstion(c))

enter number in celsius 0

32.0

In [129]:
n = int(input("enter number in celsius"))
def converstion(c):
    if c == 0:
          return 32
    else:
        return (9/5)*c + 32
        
print(converstion(n))

enter number in celsius 20

68.0

In [82]:
# 3. How do you prevent a python print() function to print a new line at the end
print("hello world", end="")
print("b")

hello worldb

In [105]:
# n = input("enter number here :")

def sum(n):
    if(n==0):
        return 0
    
    return sum(n-1) + n
    
print(sum(65))

2145

In [120]:
def pattern(n):
    for i in range(n):
        print("*" *(n-i))

n = int(input("enter number here: "))
pattern(n)

enter number here:  3

***
**
*

In [127]:
# Write a python function which converts inches to cms.
def converstion(c):
    if c == 0:
          return 0
    else:
        return c*2.54
c = float(input())        
print(converstion(c))

 44.5

113.03

In [126]:
def conversion(inches):
    return inches * 2.54

value = float(input("Enter inches: "))
print(conversion(value))

Enter inches:  12

30.48

In [128]:
# 7. Write a python function to remove a given word from a list ad strip it at the same
# time.

In [139]:
l = ["banana", " mango", "apple"]

new_list = []

for word in l:
    cleaned = word.strip()
    new_list.append(cleaned)

print(new_list)

['banana', 'mango', 'apple']

In [140]:
# 8. Write a python function to print multiplication table of a given number.

In [141]:
n = int(input("enter number here"))

i = 1
while(i<11):
    print(f"{n} X {i} = {n*i}")
    i += 1

enter number here 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [3]:
'''
how to read a file in python
'''
f = open("myfile.txt")
data = f.read()
print(data)
f.close()

 vaiksy you are amazing

In [4]:
# how to write in a fike using oython

st = " vaiksy you are amazing"

f = open("myfile.txt", "w")

f.write(st)
f.close()

In [10]:
# how to write in a fike using oython

f = open("myfile2.txt", "r")

lines = f.readlines()
print(lines, type(lines))
f.close()

[' vaiksy is a good boyi am a secong linethis is amazingtwinkle twinkle little star'] <class 'list'>

In [4]:
# Open the file in read mode using 'with', which automatically closes the file
with open("myfile2.txt", "r") as f:
    text = f.read()
# Read the contents of the file

# Print the contents
print(text)

 vaiksy is a good boyi am a secong linethis is amazingtwinkle twinkle little star

In [4]:
# Write a program to read the text from a given file ‘poems.txt’ and find out
# whether it contains the word ‘twinkle’.

f = open("poem.txt")
content = f.read()
if("twinkle" in content):
    print("twinkle is present in the poem ")
else:
     print("twinkle is not present in the poem ")
f.close()

twinkle is present in the poem

In [6]:
# The game() function in a program lets a user play a game and returns the score
# as an integer. You need to read a file ‘Hi-score.txt’ which is either blank or
# contains the previous Hi-score. You need to write a program to update the Hiscore whenever the game() function breaks the Hi-score.

In [19]:
import random

def game():
    print("You are playing the game")

    score = random.randint(1, 62)  

    # fetch the highscore
    with open("hiscore.txt", "r") as f:
        hiscore = f.read()

        if hiscore != "":
            hiscore = int(hiscore)
        else:
            hiscore = 0

    print(f"Your score: {score}")

    if score > hiscore:
        with open("hiscore.txt", "w") as f:
            f.write(str(score))   # write NEW score

    return score
game()

You are playing the game
Your score: 40

40

In [ ]:
# Write a program to generate multiplication tables from 2 to 20 and write it to the
# different files. Place these files in a folder for a 13 – year old.

In [34]:

def generateTable(n):
    table = ""
    for i in range(1, 11):
        table += f"{n} X {i} = {n*i}\n"
    
    with open(f"tables/table_{n}.txt", "w") as f:
        f.write(table)




for i in range(2, 21):
    generateTable(i)

In [ ]:
# A file contains a word “Donkey” multiple times. You need to write a program
# which replace this word with ##### by updating the same file.

In [70]:
word = "donkey"

with open("newfile.txt") as f:
    content = f.read()

for word in words:
    content = content.replace(word, ""* len(word))



with open("newfile.txt", "w") as f:
    f.write(content)
    print(content)

[ , , , good]

In [47]:
# Repeat program 4 for a list of such words to be censored.

In [81]:
word = ["donkey", "bad", "ugly"]

with open("newfile.txt", "r") as f:
    content = f.read()
for word in words:
    content = content.replace(word, "#"* len(word))


with open("newfile.txt", "w") as f:
    f.write(content)
    print(content)

[ ######, ###, ####, good]

In [82]:
# Write a program to mine a log file and find out whether it contains ‘python’.

In [86]:
with open("docc.txt") as f:
    content = f.read()

if("python" in content):
    print("yes python is present")

else:
    print("no python is not present")

yes python is present

In [87]:
# Write a program to find out the line number where python is present from ques 6.

In [96]:
with open("docc.txt") as f:
    lines = f.readlines()

lineno = 1
for line in lines:
    if("python" in line):
         print(f"yes python is present .lineno: {lineno}")
         break
    lineno += 1
        

else:
    print("no python is not present")

yes python is present .lineno: 1

In [97]:
# Write a program to make a copy of a text file “this. txt”

In [98]:
with open("docc.txt") as f:
     content = f.read()

with open("doc2.txt", "w") as f:
    content = f.write(content)

In [99]:
# Write a program to find out whether a file is identical & matches the content of
# # another file.

In [103]:
with open("docc.txt") as f:
     content = f.read()

with open("doc2.txt") as f:
    content2 = f.read()

if(content == content2):
    print("both files are identical")

else:
    print("no both files arent identical")

both files are identical

In [104]:
# Write a program to wipe out the content of a file using python.

In [105]:
with open("doc2.txt", "w") as f:
    f.write("")

In [106]:
# Write a python program to rename a file to “renamed_by_ python.txt.

In [107]:
with open("doc2.txt") as f:
    content = f.read()

with open("new.txt", "w") as f:
    f.write("content")

In [108]:
####  
        # oop (object oriented programming)

In [112]:
# EG
class employee:
    language = "py"
    salary = 150000

vaiksy = employee()
vaiksy.name = "vaiksy"
print(vaiksy.name, {vaiksy.language}, {vaiksy.salary})

harry = employee()
harry.name = "harry"
print(harry.name, {harry.salary}, {harry.language})

vaiksy {'py'} {150000}
harry {150000} {'py'}

In [124]:
class employee:
    language = "py" # this is class attribute
    salary = 150000

    def __init__(self):    #dunder method which is automaticaly callled it is made by double underscore ( __ ) 
        print("i am creating a project")

    def getinfo(self):
        print(f" his language is {self.language}. the salary is {self.salary}")

    @staticmethod
    def great():
         print("good night darlen")

    
    
vaiksy = employee()
vaiksy.language = "python"  # this is an instance attribute

# vaiksy.getinfo()
employee.great()
employee.getinfo(vaiksy)

i am creating a projecty
good night darlen
 his language is python. the salary is 150000

In [125]:
# 1. Create a class “Programmer” for storing information of few programmers
# # working at Microsoft.

In [126]:
class programmer:
    company = "microsoft"
    def __init__(self, name, salary, pin):
        self.name = name
        self.salary = salary
        self.pin = pin

p = programmer("vaiksy", 1500000, 301026)
print(p.name, p.salary, p.pin, p.company)
r = programmer("harry", 1300000, 301026)
print(r.name, r.salary, r.pin, r.company)

vaiksy 1500000 301026 microsoft
harry 1300000 301026 microsoft

In [127]:
# 2. Write a class “Calculator” capable of finding square, cube and square root of a
# number.

In [7]:
class calculator:
    def __init__(self, n):
        self.n = n

    def square(self):
        print(f"the square is {self.n*self.n}")
    def cube(self):
        print(f"the cube is {self.n*self.n*self.n}")
    def squareroot(self):
        print(f"the squareroot is {self.n**1/2}")


    
a = calculator(4)
a.square()
a.cube()
a.squareroot()

the square is 16
the cube is 64
the squareroot is 2.0

In [138]:
# 3. Create a class with a class attribute a; create an object from it and set ‘a’
# directly using ‘object.a = 0’. Does this change the class attribute?

In [139]:
class demo:
    a = 4

o = demo()
print(o.a)
o.a = 0
print(o.a)

4
0

In [1]:
# 4. Add a static method in problem 2, to greet the user with hello.

In [6]:
class calculator:
    def __init__(self, n):
        self.n = n

    def square(self):
        print(f"the square is {self.n*self.n}")
    def cube(self):
        print(f"the cube is {self.n*self.n*self.n}")
    def squareroot(self):
        print(f"the squareroot is {self.n**1/2}")

    @staticmethod
    def greet():
        print("helloo there !")
    
a = calculator(4)
a.greet()
a.square()
a.cube()
a.squareroot()

helloo there !
the square is 16
the cube is 64
the squareroot is 2.0

In [8]:
# # 5. Write a Class ‘Train’ which has methods to book a ticket, get status (no of seats)
# and get fare information of train running under Indian Railways.

In [30]:
from random import randint

class train:
        def __init__(self, trainNo):
            self.trainNo = trainNo
        
        def book(self, fro, to):
             print(f"ticket is booked in train no: {self.trainNo} from {fro} to {to}")
            
       
        def getstatus(self):
             print(f"train no: {self.trainNo} is running on time")

        def getfare(self, fro, to):
            print(f"ticket fare in train no: {self.trainNo} from {fro} to {to} is {randint(222, 5555)}")


t = train(12399)
t.book("Alwar", "delhi")
t.getstatus()
t.getfare("Alwar", "delhi")

ticket is booked in train no: 12399 from Alwar to delhi
train no: 12399 is running on time
ticket fare in train no: 12399 from Alwar to delhi is 2319

In [24]:
# 6. Can you change the self-parameter inside a class to something else (say
# # “harry”). Try changing self to “slf” or “harry” and see the effects.

In [33]:
from random import randint

class train:
        def __init__(slf, trainNo):
            slf.trainNo = trainNo
        
        def book(slf, fro, to):
             print(f"ticket is booked in train no: {slf.trainNo} from {fro} to {to}")
            
       
        def getstatus(slf):
             print(f"train no: {slf.trainNo} is running on time")

        def getfare(slf, fro, to):
            print(f"ticket fare in train no: {slf.trainNo} from {fro} to {to} is {randint(222, 5555)}")


t = train(12399)
t.book("Alwar", "delhi")
t.getstatus()
t.getfare("Alwar", "delhi")

ticket is booked in train no: 12399 from Alwar to delhi
train no: 12399 is running on time
ticket fare in train no: 12399 from Alwar to delhi is 4016

In [34]:
# #### 
            # INHERITANCE & MORE ON OOPS
                                            ####

# Inheritance is a way of creating a new class from an existing class.

In [36]:
# class Employee: # Base class
# # Code
# class Programmer(Employee): # Derived or child class
# # Code   ####  single inheritance

In [43]:
# multilevel inheritance
class employee:
    a = 1

class programmer(employee):
    b = 2

class manager(programmer):
    c = 3

o = employee()
print(o.a)  # prints the a attribute 
# print(o.b) #showS an error as there is no b attribute in employee

o = programmer
print(o.a, o.b)
o = manager
print(o.a, o.b, o.c)

1
1 2
1 2 3

In [60]:
#  CONSTRUCTOR
# multilevel inheritance
class employee:
    def __init__(self):
        print("constructor of employee")
    a = 1
    

class programmer(employee):
     def __init__(self):
         print("constructor of programmer")
     
     b = 2

class manager(programmer):
     def __init__(self):
         super().__init__()
         print("constructor of manager")
     c = 3
          
    # o = employee()
# print(o.a)  # prints the a attribute 

# o = programmer
# print(o.a, o.b)
o = manager()
print(o.a, o.b, o.c)

constructor of programmer
constructor of manager
1 2 3

In [61]:
## CLASS METHODS ####

In [69]:
class employee:
    a = 1
    @classmethod
    def show(cls):
        print(f"the value of a is {cls.a}")
e = employee()
e.a = 45  
e.show()

the value of a is 1

In [70]:
## PROPERTY_ DECORATORS ####

In [72]:
class employee:
    a = 1
    @classmethod
    def show(cls):
        print(f"the value of a is {cls.a}")

    @property
    def name(self):
        return f"{self.fname} {self.lname}"
    @name.setter
    def name(self, value):
        self.fname = value.split(" ")[0]
        self.lname = value.split(" ")[1]
        
e = employee()
e.a = 45

e.name = "vaiksy rajput"
print(e.name, e.lname)
e.show()

vaiksy rajput rajput
the value of a is 1

In [73]:
## OPERATOR OVERLOADING ####

In [75]:
class number:
    def __init__(self, n):
        self.n = n

    def __add__(self, num):
        return self.n + num.n

n = number(2)
m = number(4)

print(n + m)

6

In [76]:
# p1+p2 # p1.__add__(p2)
# p1-p2 # p1.__sub__(p2)
# p1*p2 # p1.__mul__(p2)
# p1/p2 # p1.__truediv__(p2)
# p1//p2 # p1.__floordiv__(p2)
# __str__() # used to set what gets displayed upon calling str(obj)
# __len__() # used to set what gets displayed upon calling.__len__() or len(obj)
#

In [77]:
# 1. Create a class (2-D vector) and use it to create another class representing a 3-D
# vector.

In [80]:
class twoDvector:
    def __init__(self, i, j):
        self.i = i
        self.j = j
    def show(self):
        print(f"the vector is {self.i} + {self.j}")

class threeDvector(twoDvector):
    def __init__(self, i, j, k):
        super().__init__(i, j)
        self.k = k

    def show(self):
        print(f"the vector is {self.i} + {self.j} + {self.k}")    

a = twoDvector(1, 2)
a.show()
b = threeDvector(1, 2, 3)
b.show()

the vector is 1 + 2
the vector is 1 + 2 + 3

In [81]:
# 2. Create a class ‘Pets’ from a class ‘Animals’ and further create a class ‘Dog’ from
# ‘Pets’. Add a method ‘bark’ to class ‘Dog’

In [84]:
class Animal:
    pass

class pets(Animal):
    pass

class dog(pets):
    @staticmethod
    def bark():
        print("bhau bhau")
   
d = dog()
d.bark()

bhau bhau

In [85]:
# # 3. Create a class ‘Employee’ and add salary and increment properties to it.
# Write a method ‘salaryAfterIncrement’ method with a @property decorator with a setter
# which changes the value of increment based on the salary.

In [124]:
class Employee:
    salary = 234
    increment = 20
    
    @property
    def salaryAfterIncrement(self):
        return self.salary + self.salary * (self.increment / 100)
       
    @salaryAfterIncrement.setter
    def salaryAfterIncrement(self, new_salary):
        self.increment = ((new_salary / self.salary) - 1) * 100
        
e = Employee()

e.salaryAfterIncrement = 280
print(e.increment)

19.658119658119656

In [107]:
# 4. Write a class ‘Complex’ to represent complex numbers, along with overloaded
# operators ‘+’ and ‘*’ which adds and multiplies them.

In [127]:
class Complex:
    def __init__(self, r, i):
        self.r = r
        self.i = i

    def __add__(self, c2):
        return Complex(self.r + c2.r, self.i + c2.i)

    def __mul__(self, c2):
        real = self.r * c2.r - self.i * c2.i
        imag = self.r * c2.i + self.i * c2.r
        return Complex(real, imag)

    def __str__(self):
        return f"{self.r} + {self.i}i"


c1 = Complex(1, 2)
c2 = Complex(3, 4)

print(c1 + c2)
print(c1 * c2)

4 + 6i
-5 + 10i

5. Write a class vector representing a vector of n dimensions. Overload the + and *
operator which calculates the sum and the dot(.) product of them.

In [7]:
class Vector:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

    def __add__(self, other):
        return Vector(
            self.x + other.x,
            self.y + other.y,
            self.z + other.z
        )

    def __mul__(self, other):
        return (
            self.x * other.x +
            self.y * other.y +
            self.z * other.z
        )

    def __str__(self):
        return f"Vector({self.x}, {self.y}, {self.z})"


v1 = Vector(1, 2, 3)
v2 = Vector(4, 5, 6)
v3 = Vector(7, 8, 9)

print(v1 + v2)
print(v1 * v2)
print(v1 + v3)
print(v1 * v3)

Vector(5, 7, 9)
32
Vector(8, 10, 12)
50

6. Write __str__() method to print the vector as follows: 7i + 8j +10k

In [9]:
class Vector:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

    def __add__(self, other):
        return Vector(
            self.x + other.x,
            self.y + other.y,
            self.z + other.z
        )

    def __mul__(self, other):
        return (
            self.x * other.x +
            self.y * other.y +
            self.z * other.z
        )

    def __str__(self):
        return f"({self.x}i + {self.y}j + {self.z}k)"


v1 = Vector(1, 2, 3)
v2 = Vector(4, 5, 6)
v3 = Vector(7, 8, 9)

print(v1 + v2)
print(v1 * v2)
print(v1 + v3)
print(v1 * v3)

(5i + 7j + 9k)
32
(8i + 10j + 12k)
50

7. Override the __len__() method on vector of problem 5 to display the dimension of the
vector.

In [11]:
class Vector:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

    def __add__(self, other):
        return Vector(
            self.x + other.x,
            self.y + other.y,
            self.z + other.z
        )

    def __mul__(self, other):
        return (
            self.x * other.x +
            self.y * other.y +
            self.z * other.z
        )

    def __str__(self):
        return f"({self.x}i + {self.y}j + {self.z}k)"

    def __len__(self):
        return 3

v1 = Vector(1, 2, 3)
print(len(v1))

3

PROJECT 2 – THE PERFECT GUESS
We are going to write a program that generates a random number and asks the user to
guess it.
If the player’s guess is higher than the actual number, the program displays “Lower
number please”. Similarly, if the user’s guess is too low, the program prints “higher
number please” When the user guesses the correct number, the program displays the
number of guesses the player used to arrive at the number.
Hint: Use the random module.

In [4]:
#### import random
n = random.randint(1, 100)
a = -1
guesses = 0
while(a != n):
    a = int(input("guess a number: "))
    if(a >n):
        print("lower number please")
         guesses +=1
    else:
        print("higher number please")
         guesses +=1

print(f"you guesssed it number {n} in {guesses} attempts")

guess a number:  44

lower number please

guess a number:  33

lower number please

guess a number:  22

higher number please

guess a number:  30

lower number please

guess a number:  25

higher number please
you guesssed it right in 5 attempts

######

# CHAPTER 12 – ADVANCED PYTHON 1

NEWLY ADDED FEATURES IN PYTHON
Following are some of the newly added features in Python programming language
WALRUS OPERATOR
# The walrus operator (:=), introduced in Python 3.8, allows you to assign values to
variables as part of an expression. This operator, named for its resemblance to the eyes
and tusks of a walrus, is officially called the "assignment expression."

In [7]:
# Using walrus operator
if (n := len([1, 2, 3, 4, 5])) > 3:
    print(f"List is too long ({n} elements, expected <= 3)")

# Output: List is too long (5 elements, expected <= 3)

List is too long (5 elements, expected <= 3)

TYPES DEFINITIONS IN PYTHON
Type hints are added using the colon (:) syntax for variables and the -> syntax for
function return types.

In [9]:
n : int = 5
name: str = "vaiksy"

def sum(a: int, b: int) -> int:
    return a+b

sum(3, 4)

7

# ADVANCED TYPE HINTS
* Python's typing module provides more advanced type hints, such as List, Tuple, Dict,
and Union.
You can import List, Tuple and Dict types from the typing module like this:

In [10]:
from typing import List, Tuple, Dict, Union
# List of integers
numbers: List[int] = [1, 2, 3, 4, 5]
# Tuple of a string and an integer
person: Tuple[str, int] = ("Alice", 30)
# Dictionary with string keys and integer values
scores: Dict[str, int] = {"Alice": 90, "Bob": 85}
# Union type for variables that can hold multiple types
identifier: Union[int, str] = "ID123"
identifier = 12345 # Also valid

MATCH CASE
Python 3.10 introduced the match statement, which is similar to the switch statement
found in other programming languages.
The basic syntax of the match statement involves matching a variable against several
cases using the case keyword.

In [16]:
def http_status(status):
    match status:
        case 200:
            return "OK"
        case 404:
            return "Not Found"
        case 500:
            return "Internal Server Error"
        case _:
              return "Unknown status"

# Usage
print(http_status(200)) # Output: OK
print(http_status(404)) # Output: Not Found
print(http_status(500)) # Output: Internal Server Error
print(http_status(403)) # Output: Unknown status

OK
Not Found
Internal Server Error
Unknown status

# DICTIONARY MERGE & UPDATE OPERATORS
New operators | and |= allow for merging and updating dictionaries.

In [17]:
dict1 = {'a' : 1, 'b' : 2}
dict2 = {'b' : 3, 'c' : 4}
merged = dict1 | dict2
print(merged)

{'a': 1, 'b': 3, 'c': 4}

# EXCEPTION HANDLING IN PYTHON
There are many built-in exceptions which are raised in python when something goes
wrong.
Exception in python can be handled using a try statement. The code that handles the
exception is written in the except clause.

In [23]:
try:
    a = int(input("Enter a number: "))
    print(a)

except ValueError:
    print("Enter a valid number.")

print("Thank you")

Enter a number:  asdf

Enter a valid number.
Thank you

In [25]:
a = int(input("enter first number :"))
b = int(input("enter second number :"))

if (b == 0):
    raise ZeroDivisionError("we can not devide b with 0 on this program")
print(f"the devision a/b is {a/b}")

enter first number : 3
enter second number : 0

ZeroDivisionError: we can not devide b with 0 on this program

# CHAPTER 12 – PRACTICE SET

1. Write a program to open three files 1.txt, 2.txt and 3.txt if any these files are not
present, a message without exiting the program must be printed prompting the same

In [32]:
files = ["docc.txt", "doc2.txt", "error.txt"]

for file in files:
    try:
        with open (file, "r") as f:
            content = f.read()
            print("file oppend sucessfully")
    except FileNotFoundError:
        print(f"no such file exist: {file}")
print("program contiues eunning")

file oppend sucessfully
file oppend sucessfully
no such file exist: error.txt
program contiues eunning

2. Write a program to print third, fifth and seventh element from a list using enumerate
function.

In [38]:
l = [1, 2, 3, 4, 5, 6, 7, "vaiksy", 8,]

for index, values in enumerate(l):
    if index in (2 ,4, 7):
        print(values)

3
5
vaiksy

3. Write a list comprehension to print a list which contains the multiplication table of a
user entered number.

In [39]:
num = int(input("enter number here:"))

table = [num * i for i in range(1, 11)]

print(table)

enter number here: 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

4. Write a program to display a/b where a and b are integers. If b=0, display infinite by
handling the ‘ZeroDivisionError’.

In [40]:
a = int(input("enter first number :"))
b = int(input("enter second number :"))

if (b == 0):
    raise ZeroDivisionError("we can not devide b with 0 on this program")
print(f"the devision a/b is {a/b}")

enter first number : 4
enter second number : 0

ZeroDivisionError: we can not devide b with 0 on this program

5. Store the multiplication tables generated in problem 3 in a file named Tables.txt.

In [44]:
num = int(input("enter number here:"))

table = [f"{num} x {i} = {num*i}" for i in range(1, 11)]

with open("tabels.txt", "w") as f:
    for line in table:
        f.write(line + " | ")

print(" table stored sucessfully")

enter number here: 5

 table stored sucessfully

# CHAPTER 13 – ADVANCED PYTHON 2

* LAMBDA FUNCTIONS

In [48]:
square = lambda x: x*x
print(square(6))

36

* JOIN METHOD (STRINGS)
Creates a string from iterable objects.

In [50]:
a = ["vaiksy", "harry", "raju"]

final = "::".join(a)
print(final)

vaiksy::harry::raju

* FORMAT METHOD (STRINGS)
Formats the values inside the string into a desired output.

In [53]:
a = "{1} is a good {0}".format("vaiksy", "boy")

print(a)

boy is a good vaiksy

In [62]:
from functools import reduce
## map/ filter / reduce eg:-
# map eg:-
l = [1, 2, 3, 4, 5]
square = lambda x: x*x
sqList = map(square, l)
print(list(sqList))

# filter eg :-
def even(n):
    if (n%2 == 0):
        return True
    return False
onlyeven = filter(even, l)
print(list(onlyeven))
# reduce eg :-
def sum(a, b):
    return a + b
print(reduce(sum, l))

[1, 4, 9, 16, 25]
[2, 4]
15

1. Create two virtual environments, install few packages in the first one. How do you
create a similar environment in the second one?

we can perform this inn vs code but we are using jupyter notebook so currently we dont have to create anyy virtual enviorment

2. Write a program to input name, marks and phone number of a student and format it
using the format function like below :
 “The name of the student is Harry, his marks are 72 and phone number is 99999888”

In [65]:
name  = input("enter name: ")
marks = int(input("enter marks here: "))
phone = int(input("enter phone No. : "))

s = "the name of the student is {}, his marks are {}, and his phone number iis {}".format(name, marks, phone)

print(s)

enter name:  vaiksy
enter marks here:  100
enter phone No. :  9829839839

the name of the student is vaiksy, his marks are 100, and his phone number iis 9829839839

3. A list contains the multiplication table of 7. write a program to convert it to vertical
string of same numbers.

In [66]:
table = [str(7*i) for i in range(1, 11)]
s = "\n".join(table)
print(s)

7
14
21
28
35
42
49
56
63
70

4. Write a program to filter a list of numbers which are divisible by 5.

In [71]:
def devisible5(n):
    if(n%5 == 0):
        return True
    return False 

a = [1, 2334, 32, 43, 434, 43432, 221, 5, 10, 50, 65]
f = list(filter(devisible5, a))
print(f)

[5, 10, 50, 65]

5. Write a program to find the maximum of the numbers in a list using the reduce
function.

In [75]:
from functools import reduce
l = [1, 2334, 32, 43, 434, 43432, 221, 5, 10, 50, 65]
def greater(a, b):
    if (a>b):
        return a
    return b
    

print(reduce(greater, l))

43432

7. Explore the ‘Flask’ module and create a web server using Flask & Python.

In [76]:
pip install flask

Requirement already satisfied: flask in C:\Users\vaiks\AppData\Roaming\Python\Python313\site-packages (3.1.2)
Requirement already satisfied: blinker>=1.9.0 in C:\Users\vaiks\AppData\Roaming\Python\Python313\site-packages (from flask) (1.9.0)
Requirement already satisfied: click>=8.1.3 in C:\Users\vaiks\AppData\Roaming\Python\Python313\site-packages (from flask) (8.3.0)
Requirement already satisfied: itsdangerous>=2.2.0 in C:\Users\vaiks\AppData\Roaming\Python\Python313\site-packages (from flask) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in C:\Users\vaiks\AppData\Roaming\Python\Python313\site-packages (from flask) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in C:\Users\vaiks\AppData\Roaming\Python\Python313\site-packages (from flask) (3.0.3)
Requirement already satisfied: werkzeug>=3.1.0 in C:\Users\vaiks\AppData\Roaming\Python\Python313\site-packages (from flask) (3.1.5)
Requirement already satisfied: colorama in C:\Users\vaiks\AppData\Roaming\Python\Python313\site-packages (from click>=8.1.3->flask) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# from flask import Flask

# app = Flask(__name__)

# @app.route("/")
# def hello_world():
#     return "<p>Hello, World!</p>"

# app.run()